# Supabase
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.cfcflrqidnzvjpnrcvsf.supabase.co:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:[PASSWORD]@db.cfcflrqidnzvjpnrcvsf.supabase.co:5432/postgres
SUPABASE_URL=https://cfcflrqidnzvjpnrcvsf.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Anthropic
ANTHROPIC_API_KEY=

# Upstash Redis
UPSTASH_REDIS_URL=https://[ENDPOINT].upstash.io
UPSTASH_REDIS_TOKEN=

# Server
NODE_ENV=development
PORT=3001
